.navbar {
    background-color: #141414;
    color: #fff;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    /* position: fixed; Set the navbar to fixed position */
    top: 0; /* Position it at the top of the page */
    width: 100%; /* Full width */
    z-index: 1000; /* Ensure it's on top of other content */
}

.container {
    display: flex;
    align-items: center;
}

.logo {
    height: 40px; /* Adjust the height according to your needs */
    margin-right: auto; /* Add some margin if needed */
}

.auth-links {
    display: flex;
    margin-left: auto;
}

.auth-links a {
    color: #fff;
    text-decoration: none;
    padding-left: 20px;
}

.auth-links a:last-child {
    padding-right: 20px;
}

.auth-links a:hover {
    color: #ccc;
}
