/* General blog entry styling */
.blog-entry {
  display: flex;
  /* border-radius: 10px; */
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  margin-bottom: 20px;
}

.blog-entry:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* Blog image container */
.blog-image-container {
  flex: 0 0 250px;
  position: relative;
}

/* Blog image */
.blog-image {
  width: 300px;
  height: 300px;
  object-fit: cover;
}

/* Content container */
.content-container {
  padding: 40px;
  flex: 1;
}

/* Field styling */
.field {
  margin-bottom: 15px;
}

/* Field label */
.field label {
  font-weight: bold;
  margin-bottom: 5px;
  color: #666;
}

/* Field value */
.value {
  overflow-wrap: break-word; /* Wrap long words */
  word-wrap: break-word; /* Fallback for older browsers */
  word-break: break-all; /* Break words when needed */
  white-space: pre-wrap; /* Wrap text preserving spaces and line breaks */
  max-width: 100%; /* Set maximum width to ensure text wraps within the container */
}

/* Title styling */
.value.title {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}



/* Actions container */
.actions {
  margin-top: 20px;
}

/* Edit and delete icons */
.edit-icon,
.delete-icon {
  font-size: 18px;
  cursor: pointer;
  padding: 8px 12px;
  border-radius: 5px;
  margin-left: 10px;
}

/* Edit icon styles */
.edit-icon {
  background-color: #007bff;
}

/* Delete icon styles */
.delete-icon {
  background-color: #dc3545;
}

/* Hover effects for icons */
.edit-icon:hover,
.delete-icon:hover {
  opacity: 0.8;
  transform: scale(1.1);
}
