/* Style for the main content */
.main-content {
    margin-top: 4rem; /* Adjust according to your Navbar height */
    margin-bottom: 4rem; /* Adjust according to your Footer height */
    padding: 0 1rem; /* Add padding to the sides */
    display: flex; /* Use flexbox for arranging items */
    flex-direction: column; /* Arrange items in a column */
    align-items: center; /* Center align items horizontally */
  }
  
  /* Style for the image */
  .view-blog-image{
    width: 300px; /* Set a fixed width */
    height: auto; /* Automatically adjust height to maintain aspect ratio */
    margin-top: 2rem; /* Add margin to the top */
  }
  
  /* Style for the blog details */
  .blog-details {
    margin-top: 2rem; /* Add margin to the top */
    text-align: center; /* Center align the text */
  }
  
  .blog-details h1 {
    font-size: 24px; /* Adjust the font size */
  }
  
  .blog-details p {
    margin-bottom: 1rem; /* Add margin to the bottom of paragraphs */
  }
  