.blog-container {
    /* display: flex;
    flex-direction: column; */
    min-height: 80vh; /* Ensures the container takes at least the full height of the viewport */
    width: 100%;
}

.content {
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
